<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h2>Add Employee</h2>
    <form action="#" th:action="@{/add}" th:object="${user}" method="post" class="container mt-5">
        <div>
            <label for="employeeEmail">Employee Email: </label>
            <input type="email" th:field="*{employeeEmail}" id="employeeEmail" />
        </div>
        <div>
            <label for="firstName">First Name: </label>
            <input type="text" th:field="*{firstName}" id="firstName" />
        </div>
        <div>
            <label for="lastName">Last Name: </label>
            <input type="text" th:field="*{lastName}" id="lastName" />
        </div>
        <div>
            <label for="employeeUsername">Username: </label>
            <input type="text" th:field="*{employeeUsername}" id="employeeUsername" />
        </div>
        <div>
            <button type="submit" class="button-link">Submit</button>
        </div>
    </form>
    <a href="/all" class="btn btn-secondary">Back to List</a>
</body>
</html>
